@charset "UTF-8";
#contents { width: 1320px; margin: 50px auto;}

/* input 관련  */
input, select {
	font-size: 15px;
	cursor: pointer;	
}

.main {
    margin-top: 3px;
    width: 100%;
}


#qList_t {
	margin: 0 auto;
}

#qFind_wrap .qWrite {
	position: absolute;
	left: 930px;
}

#qList_t .qList_count {
	padding-bottom: 10px;
	font-size: 17px;
}

#qList_t th {
	font-size: 20px;
}

#qList_t td {
	font-size: 18px;
}

/* 페이징 */
#qList_paging {
	text-align: center;
	font-size: 18px;
	margin: 20px 0;
}

/* 검색 */
#qFind_wrap {
	text-align: center;
	padding: 0px;
	position: relative; 
}

/* 글쓰기 */
#qFind_wrap .cWrite {
	position: absolute; left: 1210px;
	width: 50px;
    height: 30px;
}

#cont {
	margin: 0 auto;
}

#main {
	margin: 0 auto;
}

#find_name:focus {
	outline: none;
}

#QandA_write {
	width: 100%;
	padding-left: 140px;
}

.size{
	width: 50px;
	height: 30px;
}

#q_name {
	margin-bottom: 20px;
	width: 1000px;
	height: 30px;
	border: none;
	font-size: 30px;
}
#q_name:focus {
	outline: none;
}

#q_title {
	margin-bottom: 20px;
	width: 1000px;
	height: 30px;
	border: none;
	font-size: 30px;
}
#q_title:focus {
	outline: none;
}

#q_pwd {
	margin-bottom: 20px;
	width: 1000px;
	height: 30px;
	border: none;
	font-size: 30px;
}
#q_pwd:focus {
	outline: none;
}

