body { }
#title {background: #fff;}
#footer {border-top: 1px solid #dbdbdb;}

/* header */
.header {height: 300px; width: 95%;} 
.header .header_menu {text-align: right; }                         
.header .header_menu a {color: #fff; 
    /* 패딩값을 먹게 하려면 인라인요소로 블록구조 */
    padding: 8px 0 6px 10px; display: inline-block; 
    /*하얀색을 회색으로 0.5초 동안 서서히 바뀌게*/
    transition: color .5s ease;}
.header .header_menu a:hover {color: #ccc;}

.header .header_title {text-align: center; margin-top: auto; font-size: 60px;
margin-top: 80px;}                         
.header .header_title a {}
.header .header_title a:hover {color: #ccc;}

/* title menu */
.title {
    height: 50px;  
    border-bottom: 1px solid #dbdbdb;
}
.title li{
    margin: 0 auto;
    width: 25%;          
}
.title li > div {
    border-right: 1px solid #dbdbdb;
}

.title li:last-child > div {
    border-right: none;  
}
.title .category>li{
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    position: relative;
    font-size: 15px;       
}
.title .category>li:hover .sub_category{
    display: block;
}
.title .category>li a{
    display: block;
}
.title .category>li a:hover{
    color: #2698cb;
}
/* 플로팅 메뉴를 위한 fixed클래스 */
.fixed{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

/* sub_category */
.title .category .sub_category{
    position: absolute;
    top: 50px;
    left: -1.5px;
    width: 100%;
    display: none;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-top: 2px solid #2698cb;  
    z-index: 100;   
}
.title .category .sub_category > a {
    border-right: 1px solid #dbdbdb;
    z-index: 100;
}
.title .category .sub_category > li{
    background: #e0e0e0;
    width: 100%;
    z-index: 100;
}

#header.dog {
	background: url(/resources/img/dog/light09.jpg);
}

#header.cat {
	background: url(/resources/img/cat/cat01.jpg);
}



/* footer */
.footer {text-align: center; padding: 30px 50px;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
/* 가상으로 왼쪽 선 설정 */
.footer li::before {content: ''; width: 1px; height: 12px; background-color: #dbdbdb; position: absolute; left: 0; top: 0;}
.footer li:first-child::before{width: 0;}
.footer address {padding-top: 15px;}
