<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 <typeAliases>
 	<typeAlias type="com.project.vo.CatVO" alias="cat"/>
 	
 	<typeAlias type="com.project.vo.DogVO" alias="dog"/>

 	<typeAlias type="com.project.vo.ShopVO" alias="s"/>
 	<!-- ShopVO 빈클래스의 객체 별칭명 s를 관리 -->

 </typeAliases>
</configuration>



