/* @charset "UTF-8";

#contents { width: 1500px; margin: 0 auto;}

#contents .main {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

#cat_write {
	width: 100%;
	border-spacing: 10px;
}

.size{
	width: 50px;
	height: 30px;
}



 */